<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.READ_SECURE_CAMERA" />
    <uses-permission android:name="android.permission." />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:targetApi="33">
        <activity
            android:name=".SuaDeThiScreen"
            android:exported="false" />
        <activity
            android:name=".ChiTietDeThiScreen"
            android:exported="false" />
        <activity
            android:name=".SDTXacThucSignUp"
            android:exported="false" />
        <activity
            android:name=".VerifyOTPToLogin"

            android:exported="false" />
        <activity
            android:name=".BaoCaoNhapNamScreen"
            android:exported="true" />
        <activity
            android:name=".QuenMatKhauScreen"
            android:exported="true" />
        <activity
            android:name=".GuiMaXacThucScreen"
            android:exported="true" />
        <activity
            android:name=".SDTXacThucScreen"
            android:exported="true" />
        <activity
            android:name=".TestScreen"
            android:exported="false" />
        <activity
            android:name=".ChamDiemScreen"
            android:exported="true" />
        <activity
            android:name=".SuaCauHoiPopUp"
            android:exported="false" />
        <activity
            android:name=".DsDeThiDaTaoItem"
            android:exported="false" />
        <activity
            android:name=".DanhSachDeThiScreen"
            android:exported="true" />
        <activity
            android:name=".ThongTinDeThiScreen"
            android:exported="true" />
        <activity
            android:name=".BaoCaoRecycleItem"
            android:exported="true" />
        <activity
            android:name=".baocaomonhocitem"
            android:exported="false" />
        <activity
            android:name=".BaoCaoNamScreen"
            android:exported="true" />
        <activity
            android:name=".TaoDeThiCauHoiDaTao"
            android:exported="true" />
        <activity
            android:name=".TaoCauHoiCauHoiItem"
            android:exported="true" />
        <activity
            android:name=".ThongTinMonHoc"
            android:exported="true" />
        <activity
            android:name=".ChiTietLopRecycleView"
            android:exported="true" />
        <activity
            android:name=".NhapDiemScreen"
            android:exported="true" />
        <activity
            android:name=".MainScreenNew"
            android:exported="true" />
        <activity
            android:name=".BoLocTraCuuScreen"
            android:exported="true" />
        <activity
            android:name=".TraCuuDeThiListView"
            android:exported="true" />
        <activity
            android:name=".TraCuuScreen"
            android:exported="true" />
        <activity
            android:name=".DeThiScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".CustomListView"
            android:exported="true" />
        <activity
            android:name=".DsCauHoiDaTao"
            android:exported="true" />
        <activity
            android:name=".TaoDeThi"
            android:exported="true" />
        <activity
            android:name=".CauHoiDaTao"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".ThemCauHoi"
            android:exported="true" />
        <activity
            android:name=".CauHoiScreen"
            android:exported="true"></activity>
        <activity
            android:name=".MainScreen"
            android:exported="true" />
        <activity
            android:name=".SignUpScreen"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="true" />
    </application>

</manifest>